.product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 8px;
  padding: 1rem; 
}

.product:hover {
  cursor: pointer;
  margin-top: -2px;
  box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.75);

}

.name{
   margin: 0 0 8px 0;
}

.image_container{
   height: 250px;
   width: 100%;
   border-radius: 10px;
   overflow: hidden;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.info{
   display: flex;
   width: 90%;
   justify-content: space-between;
}
.info > div{
   display: flex;
   align-items: center;
}

.price {
   margin: 3px;
   color:  rgb(0, 143, 253);
   font-weight: 700;
   font-size: 1.2rem;
}
.category{
   margin: 5px 0;
   font-size: 0.8rem;
   color: rgb(158, 95, 12);
}


.add_to_cart {
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: tomato;
  cursor: pointer;
  transition: all 0.2s ease;
  color: white;
}
.add_to_cart:hover{
   transform: scale(1.02);
   box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.75);
}
